html(lang='en')
    head
        title Seal Team Six
    body
        div
            form(role='form' method='Post' action="/bungieUser")
                label(for='username')
                    | Username 
                input#username(type='text')
                input#submit(type='submit' text='Submit')